body{
	margin:0;
}

header{
	background-color: #FF9567;
	text-align:center;
	padding-top: 50px;
	padding-bottom: 50px;
}

header h1{
	color: white;
	font-family: hevetica , arial , sans-serif;

}

header img{
	border-radius: 300px;
	width:300px;
	border: 20px solid white;
}

h2,p{
	text-align:center;
}

ul{
	font-size: 40px;
}
main{
	max-width: 800px;
	margin:0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 40px;
	color:black;
	margin: 0;
}

a{
	color: grey;
}
a:hover{
	color:blue;
}

footer{
	background-color: #FF9567;
	text-align:center;
	color: white;
	padding: 20px;
}
footer a{
	color: white;
}
footer a:hovr{
	opacity: .5;
	background-color: transparent;
}